.venv


data/*
!data/test
!data/train
!data/val

data/test/*
!data/test/NORMAL
!data/test/PNEUMONIA

data/test/NORMAL/*
!data/test/NORMAL/.gitkeep

data/test/PNEUMONIA/*
!data/test/PNEUMONIA/.gitkeep

data/train/*
!data/train/NORMAL
!data/train/PNEUMONIA

data/train/NORMAL/*
!data/train/NORMAL/.gitkeep

data/train/PNEUMONIA/*
!data/train/PNEUMONIA/.gitkeep

data/val/*
!data/val/NORMAL
!data/val/PNEUMONIA

data/val/NORMAL/*
!data/val/NORMAL/.gitkeep

data/val/PNEUMONIA/*
!data/val/PNEUMONIA/.gitkeep

drafts/*
!drafts/.gitkeep


__pycache__/


descricao_trabalho_final.pdf