.venv


data/*
!data/daisy
data/daisy/*
!data/daisy/.gitkeep

!data/dandelion
data/dandelion/*
!data/dandelion/.gitkeep

!data/rose
data/rose/*
!data/rose/.gitkeep

!data/sunflower
data/sunflower/*
!data/sunflower/.gitkeep

!data/tulip
data/tulip/*
!data/tulip/.gitkeep

drafts/*
!drafts/.gitkeep


__pycache__/


descricao_trabalho_final.pdf